<ul class="actions{% if stacked %} stacked{% endif %}{% if fit %} fit{% endif %}">
    {% for action in action_buttons %}
        {% with action.button as button %}
            <li>
                <a href="{{ button.url }}" class="button{% if button.primary %} primary{% endif %} {{ button.size|default:"" }}{% if actions.fit %} fit{% endif %} {{ add_attributes }}{% if button.icon %} icon {{ button.icon }}{% endif %} %}">{{ button.name }}</a>
            </li>
        {% endwith %}
    {% endfor %}
</ul>