{% load wagtailcore_tags wagtailimages_tags %}

<div id="wrapper" class="divided">
    {% with banner.styling_options as options %}
    {% with banner.action_buttons.buttons.all as actions %}
        <section class="banner {{ options.style }}  {{ options.color|default:"" }}  {% if options.invert %}invert{% endif %} {{ options.orientation|default:"" }} {{ options.content_align|default:"" }} {{ options.image_position|default:"" }} {{ options.onload_fade|default:"" }} {{ options.onscroll_fade|default:"" }} fullscreen">

            <div class="content">
                <h1>{{ banner.header }}</h1>
                {{ banner.major|richtext }}
                {{ banner.minor|richtext }}
                {% if actions %}
                <ul class="actions stacked">
                    {% for action in actions %}
                        {% with action.button as button %}
                        <li><a href="{{ button.url }}"
                               class="button {{ button.size }} wide smooth-scroll-middle">{{ button.name }}</a>
                        </li>
                        {% endwith %}
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

            <div class="image">{% image banner.image fill-1920x1080-c100 as image %}
                <img src="{{ image.url }}" alt="{{ image.alt }}" class=""/>
            </div>

        </section>
    {% endwith %}
    {% endwith %}
</div>
