{% load wagtailcore_tags wagtailimages_tags %}

{% with gallery.styling_options as options %}
<section class="wrapper {{ options.color }} {% if options.invert %} invert{% endif %} style1 align-center">
    <div class="inner">
        <h2>{{ gallery.headline }}</h2>
        {{ gallery.introduction|richtext }}
    </div>
    <div class="gallery {{ options.style }} {{ options.size }} lightbox {% if options.onscroll_fade_in %} onscroll-fade-in{% endif %}{% if options.onload_fade_in %} onload_fade_in{% endif %}">
        {% for article in articles %}
        {% include "home/gallery_article_include_page.html" with options=options %}
        {% endfor %}
    </div>
</section>
{% endwith %}
