{% extends "home/assets.html" %}

{% block content %}
    <div id="wrapper" class="divided">

        {% if page.banner_page %}

            {% include "home/banner_include_page.html" with banner=page.banner_page.specific %}

        {% endif %}

        {% if page.spotlight_index_page %}

            {% include "home/spotlight_index_include_page.html" with spotlight_index=page.spotlight_index_page.specific spotlights=page.spotlight_index_page.specific.children %}

        {% endif %}

         {% if page.gallery_index_page %}

            {% include "home/gallery_index_include_page.html" with gallery_index=page.gallery_index_page.specific articles=page.gallery_index_page.specific.children %}

        {% endif %}

        {% if page.item_index_page %}

            {% include "home/item_index_include_page.html" with item_index=page.item_index_page.specific items=page.item_index_page.specific.children %}

        {% endif %}

        {% if page.section_index_page %}

            {% include "home/section_index_include_page.html" with section_index=page.section_index_page.specific sections=page.section_index_page.specific.children %}

        {% endif %}






    </div>
{% endblock content %}
