{% load wagtailcore_tags wagtailimages_tags %}

{% with spotlight.styling_options as options %}

<section class="spotlight {{ options.style }} {{ options.color|default:"" }} {% if options.invert %} invert{% endif %} {{ options.orientation|default:"" }} {{ options.alignment|default:"" }} {{ options.image_position|default:"" }} {{ options.onload_content_fade|default:"" }} {{ options.onload_image_fade_in|default:"" }} {{ options.onscroll_content_fade|default:"" }} {{ options.onscroll_image_fade|default:"" }} {{ options.screen|default:"" }}" {% if first %} id="first"{% endif %}>
    <div class="content">
        {{ content|safe }}
        {% if spotlight.actions %}
            {% include "home/actions.html" with stacked=spotlight.actions.stacked fit=spotlight.actions.fit action_buttons=spotlight.actions.buttons.all add_button_attributes="" %}
        {% endif %}
    </div>
    <div class="image">{% image image fill-800x800-c100 as image %}
        <img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" alt="{{ image.alt }}"
             class=""/>
    </div>
</section>

{% endwith %}
