{% load static wagtailcodeblock_tags %}
{% spaceless %}
    {% load_prism_theme %}
    {% if self.separator %}
    <hr/>
    {% endif %}
    {% for key, val in self.items %}
        {% if key == "language" %}
            <script>
                language_class_name = 'language-{{ val }}';
            </script>
        {% endif %}
        {% if key == "code" %}
            <pre {% if self.show_lines_numbers %}class="line-numbers"{% if self.highlight_lines %} data-line="{{ self.highlight_lines }}"{% endif %}{% if self.line_offset %} data-start="{{ self.line_offset }}"{% endif %}{% endif %}>
                <code id="target-element-current">{{ val }}</code>
            </pre>
            <script>
                var block_num = (typeof block_num === 'undefined') ? 0 : block_num;
                block_num++;
                document.getElementById('target-element-current').className = language_class_name;
                document.getElementById('target-element-current').id = 'target-element-' + block_num;
            </script>
        {% endif %}
    {% endfor %}
{% endspaceless %}